             /* Quando o style de App estiver Punk, copia e cola aqui*/





/* * {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}

h1 {
    text-align: center;
    font-size: 42px;
    margin-bottom: 32px;
    color: #222;
    
  };*/

 